$white: #FFFFFF;
$black: #000000;
$grey: #444444;
$red: #C91A25;
$green: #0BBB5A;
$blue: #0788D1;
$orange: #E97900;

// Font colors
.white { color: $white; }
.black { color: $black; }
.grey { color: $grey; }
.red { color: $red; }
.green { color: $green; }
.blue { color: $blue; }
.orange { color: $orange; }

// Background colors
.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
.bg-grey { background-color: $grey; }
.bg-red { background-color: $red; }
.bg-green { background-color: $green; }
.bg-blue { background-color: $blue; }
.bg-orange { background-color: $orange; }
.bg-none { background-color: transparent; }