.counter {
  button {
    font-size: 1.5em;
  }

  input {
    padding: 10px 0;
    color: white;
    font-size: 1.5em;
    width: 100px;
    background: none;
    border: none;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
