.uppercase { text-transform: uppercase; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

@for $i from 1 through 20 {
  .fontsize-#{$i} {
    font-size: #{$i / 10}em;
  }
}

// Font families
.roboto { font-family: 'Roboto'; }
.ubuntu { font-family: 'Ubuntu Mono'; }
