@import './colors.scss';
@import './display.scss';
@import './fonts.scss';
@import './overrides.scss';
@import './position.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Roboto;
  font-size: 1.5em;
}
