.stat-calculator {
  display: flex;
  flex-direction: column;
  
  .counter-container {
    display: flex;
    flex-direction: row;
  }

  .reset {
    padding: 5px;
    background: orange;
    color: white;
    border: none;
  }
}